<p>Witaj <%= @resource.email %>!</p>

<p>Otrzymałeś zaproszenie do rejestracji w CopySEO <%= root_url %>, możesz je zaakceptować klikając w poniższy link.</p>

<p><%= link_to 'Zaakceptuj zaproszenie', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>Jeżeli nie jesteś zainteresowany rejestracją, zignoruje tego maila.<br />
Twoje konto nie zostanie utworzone, dopóki nie klikniesz w link 'Akceptuj' i nie ustawisz hasła.</p>
