<p>Witaj <%= @resource.email %>!</p>

<p>Jeżeli chcesz zmienić hasło, kliknij w link poniżej.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Jeśli żądanie zmiany hasła nie zostało wysłane przez Ciebie, zignoruj tego maila..</p>
<p>Twoje hasło nie zmieni się dopóki nie klikniesz w link i nie ustawisz nowego.</p>
